<% context.startSignature(); %>

<% for (var i = 0; i < 10; i++) { %>
    <p>
        Chore: <%= i %>
    </p>
<% } %>

<%# render and insert the contents of a file %>
<%+ 'footer.md', 'markdown' %>

<% context.cacheDuration = 10; %>
