<%$%>

<% 
const backend = prudence.require('../../backend.js');
const chores = backend.getPerson(context.variables.name).chores;
for (var i = 0; i < chores.length; i++) {
%>
    <p>
        Chore: <%= chores[i] %>
    </p>
<% } %>

<%# insert the contents of a file after rendering it %>
<%+ 'footer.md', 'markdown' %>

<%* 10 %>
