<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <title>Resource1 Sub1: <%== 'name' %></title>
</head>
<body>
    <p>Name: <%== 'name' %></p>
    <p>Facet: sub1</p>
</body>
</html>
