<!DOCTYPE html>
<%# render a section (we *must* end the section later) %>
<%^ 'minhtml' %>
<html>

<%# insert the contents of a file %>
<%+ 'fragments/head.html' %>

<body>

<%# we'll automatically create a weak signature based on the following section %>
<%$ true %>

    <h1>
        Chores for: <%= context.variables.name %>
        <% const scope = context.query.scope; if (scope && scope.includes('all')) { %>(all of them)<% } %>
    </h1>

<%# end signature section %>
<%$$%>

<%# embed another cacheable representation (and optionally set a custom cache key) %>
<%& 'fragments/list.jst', 'list:' + context.variables.name %>

</body>
</html>
<%# end render %>
<%^^%>

<%# set cache duration (in seconds) %>
<%* 5 %>
